<!DOCTYPE html>
<html>
  <head>
    <title>Semaphore Admin - <%=title%></title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="<%=_.url.action('static')%>/style.css" />
    <%- _.styles()%>
    <%- _.scripts()%>
  </head>
  <body>
  <div id="screenContainer">
    <header>
      <a href="/"><img src="/images/header.png" alt="SEMAPHORE"/></a>
      <h3>ADMINISTRATION</h3>
      <div class="pull-right">
        <p class="user-info">
        <% if (_user) { %>
          Logged in as: <%=_user.username%> - <a href="<%=_.url.action('auth.logout')%>">LOG OUT</a>
        <% } else { %>
          <a href="<%=_.url.action('auth.loginForm')%>">LOG IN</a>
        <% } %>
        </p>
      </div>
    </header>
    <%- _.partial('menu') %>
    <div id="content">
      <%- _.partial('body') %>
    </div>
    <footer>
      <p>Supported By: </p>
      <a id="logoQut" class="logo" href="http://www.qut.edu.au" title="Link to QUT home page">QUT</a>
      <a id="logoAnds" class="logo" href="http://www.ands.org.au" title="Link to QUT home page">ANDS</a>
    </footer>
  </div>
  </body>
</html>